/*
    HP STYLE
*/

div.action {
    display: none;
}

#slider {
    margin-top: -131px;
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: calc(100vw * (1080 / 2100));
    position: relative;
    transition: all 0.3s;
}

body.bright #slider {
    background-color: transparent;
}

#slider .slide img {
    display: block;
    width: 95%;
    height: auto;
    position: relative;
    right: -2.5%;
}

#slider .slide h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 4.8px;
    text-align: center;
    color: #f5f5f5;
    transition: all 0.3s;
    z-index: 100;
}

body.bright #slider .slide h1 {
    color: #383838;
    background-color: white;
    /*font-weight: 300;*/
}

#slider .slide h2 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #cccccc;
    transition: all 0.3s;
}

body.bright #slider .slide h2 {
    color: #383838;
}

#slider .slide h2 strong {
    font-weight: 700;
    transition: all 0.3s;
}

.slick-dots {
    bottom: 8%;
}

.slick-dots li {
    width: 12px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2em;
    z-index: 10;
    transition: all 0.3s;
}

body.bright .slick-dots li button {
    background-color: #e6e6e6;
 }


.slick-dots li.slick-active button{
    background-color: #0083ff;
}

body.bright .slick-dots li.slick-active button {
    background-color: #0083ff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

#logos {
    background-color: #2e2e2e;
    padding: 2em calc((100% - 1200px)/ 2);
    transition: all 0.3s;
}

body.bright #logos {
    background-color: #e6e6e6;
}

#logos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logos ul li span {
    display: block;
}

#logos ul li span svg {
    display: block;
    width: 100%;
}

body.bright #logos ul li span svg path {
    fill: #383838;
}

section#contact,
section.features,
section.about {
    padding: 3.65em calc((100% - 1065px)/ 2);
    background-color: #333333;
    color: #ebebeb;
    text-align: center;
    transition: all 0.3s;
}

body.bright section#contact,
body.bright section.features,
body.bright section.about {
    background-color: #f4f4f4;
}

section.features {
    padding-bottom: 6em;
}

section#contact h2,
section.features h2,
section.about h2 {
    display: block;
    font-size: 48px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 4.8px;
    text-align: center;
    color: #f5f5f5;
    transition: all 0.3s;
}

body.bright section.features h2,
body.bright section.about h2 {
    color: #707070;
}

body.bright section#contact h2 {
    color: #383838;
}

section.about p {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    margin: 0.8em 0em;
    transition: all 0.3s;
}

section#contact > p,
section.features > p {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s;
}

body.bright section.about p,
body.bright section.features > p {
    color: #707070;
}

body.bright section#contact > p {
    color: #383838;
}

section.features > p br {
    display: none;
}

section.features div.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3em;
}

section.features div.wrap div.feature {
    padding: 3em 0em;
    width: 48.5%;
    background-color: #383838;
    transition: all 0.3s;
}

body.bright section.features div.wrap div.feature {
    background-color: #e6e6e6;
}

section.features div.wrap div.feature h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #0083ff;
    transition: all 0.3s;
}

body.bright section.features div.wrap div.feature h3 {
    color: #0083ff;
    font-weight: 400;
 }

section.features div.wrap div.feature ul li {
    display: block;
    margin: 0.5em 0em;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #cccccc;
    transition: all 0.3s;
}

body.bright section.features div.wrap div.feature ul li {
    color: #707070;
}

section.features div.wrap div.feature ul li:first-of-type {
    margin-top: 0.8em;
}

section.features div.wrap div.feature ul li:last-of-type {
    margin-bottom: 0em;
}

section#contact {
    padding: 6em calc((100% - 536px)/ 2);
    background-color: #212121;
}

body.bright section#contact {
    background-color: white;
}

#sign {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2em;
    position: relative;
}

#response,
#loader {
    position: absolute;
    top: 49.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 101%;
    background-color: #00000063;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#response {
    background-color: rgba(0, 0, 0, 0.8);
}

#response.show,
#loader.show {
    opacity: 1;
    visibility: visible;
}

#response h4,
#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#response h4 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #ebebeb;
    text-transform: uppercase;
    width: 100%;
}

#sign label {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

#sign label.submit {
    margin-left: auto;
    width: 50%;
    margin-bottom: 0;
    position: relative;
}

#sign label textarea,
#sign label input {
    display: block;
    width: 100%;
    padding: 0.7em 0.5em;
    border: none;
    font-size: 20px;
    resize: none;
}

#sign label textarea {
    font-family: 'Roboto';
    height: 130px;
}

body.bright #sign label textarea,
body.bright #sign label input {
    background-color: #e8e8e8;
}

#sign label input[type="submit"] {
    background-color: #0083ff;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}

body.bright #sign label input[type="submit"] {
    background-color: #0083ff;
}

::placeholder {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
}

body.bright ::placeholder {
    color: #707070;
}

section#contact address {
    display: block;
    margin-top: 4em;
}

section#contact address p a,
section#contact address p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 1.6px;
    text-align: center;
    color: #999999;
}

section#contact address p {
    margin-bottom: 1em;
}

section#contact address p a {
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #2f2f2f;
    color: #999999;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2em;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    color: #999999;
}

footer a:first-of-type {
    border-right: 1px solid #999999;
    padding-right: 0.5em;
    margin-right: 0.3em;
}

@media only screen and (max-width: 1023px) {
    header {
        padding: 1em;
    }

    #slider {
        margin-top: -80px;
        height: calc(110vw * (1080 / 2100));
    }

    #slider .slide h1 {
        top: 25%;
        font-size: 24px;
    }

    #slider .slide h2 {
        font-size: 16px;
        bottom: 18%;
    }

    .slick-dots {
        bottom: 7%;
    }

    #logos {
        padding: 0em 1em;
    }

    #logos ul {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    #logos ul li {
        width: 25%;
        margin: 2em 0em;
    }

    #logos ul li span svg {
        width: 70%;
    }

    section#contact, section.features, section.about {
        padding: 2em 1.5em;
        color: #ebebeb;
        text-align: center;
        transition: all 0.3s;
    }

    section#contact h2,
    section.features h2,
    section.about h2 {
        font-size: 24px;
    }

    section#contact > p,
    section.features > p,
    section.about p {
        font-size: 16px;
    }

    section.features div.wrap div.feature h3,
    section.features div.wrap div.feature ul li {
        font-size: 16px;
    }

    section.features div.wrap div.feature ul li {
        margin: 0.8em 0em;
    }
}

@media only screen and (max-width: 640px) {
    div.action {
        text-align: center;
        background-color: #212121;
        margin-top: -75px;
        position: relative;
        padding-bottom: 2em;
        display: block;
    }

    body.bright div.action {
        background-color: white;
    }

    a#action {
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 48px;
        letter-spacing: 2px;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: #0083ff;
        width: 220px;
        height: 48px;
    }

    body.bright a#action {
        background-color: #0083ff;
    }

    #slider {
        margin-top: -85px;
        height: calc(100% * (586 / 375));
    }

    #slider .slide h1 {
        font-size: 24px;
        top: 20%;
    }

    .slick-dots {
        bottom: 15%;
    }

    #slider .slide h2 {
        top: 70%;
    }

    #slider .slide h2 strong {
        display: block;
        font-size: 16px;
    }

    #slider .slide p {
        font-size: 15px;
        padding: 0em 1.5em;
    }

    #slider .slide img {
        display: block;
        width: 300%;
        height: auto;
        position: relative;
        right: calc(200% / 2);
    }

    section.features div.wrap {
        flex-direction: column;
        margin-top: 2em;
    }

    section.features div.wrap div.feature {
        width: 100%;
        margin-bottom: 1em;
    }

    section.features div.wrap div.feature:last-of-type {
        margin-bottom: 0;
    }

    #logos {
        padding: 2em 1em;
    }

    #logos ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #logos ul li {
        width: 40%;
        padding: 1.5em 0em;
        margin: 0;
    }

    #logos ul li span svg {
        width: 100%;
    }

    section#contact,
    section.features,
    section.about {
        padding: 2em 1em;
    }

    section#contact h2,
    section.features h2,
    section.about h2 {
        font-size: 24px;
    }

    section#contact > p,
    section.features > p,
    section.about p {
        font-size: 16px;
    }

    section.features div.wrap div.feature h3,
    section.features div.wrap div.feature ul li {
        font-size: 16px;
    }

    section.features div.wrap div.feature ul li {
        margin: 0.8em 0em;
    }

    #sign label.submit {
        width: 100%;
    }

    section#contact address {
        margin-top: 3em;
    }

    #sign label textarea {
        height: 130px;
    }

    #sign label textarea, #sign label input {
        font-size: 16px;
    }

    ::placeholder {
        font-size: 16px;
    }
}