/*
    HP STYLE
*/

#slider {
    margin-top: -170px;
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: calc(100vw * (1080 / 1920));
    position: relative;
}

#slider .slide img {
    display: block;
    width: 100%;
    height: auto;
}

#slider .slide h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 4.8px;
    text-align: center;
    color: #f5f5f5;
}

#slider .slide h2 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #cccccc;
}

#slider .slide h2 strong {
    font-weight: 700;
    color: #00a8ff;
}

.slick-dots {
    bottom: 10%;
}

.slick-dots li button {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2em;
    z-index: 10;
}

.slick-dots li.slick-active button{
    background-color: #00a8ff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

#logos {
    background-color: #2e2e2e;
    padding: 2em calc((100% - 1200px)/ 2);
}

#logos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logos ul li span {
    display: block;
}

section#contact,
section.features,
section.about {
    padding: 3.65em calc((100% - 1065px)/ 2);
    background-color: #333333;
    color: #ebebeb;
    text-align: center;
}

section.features {
    padding-bottom: 6em;
}

section#contact h2,
section.features h2,
section.about h2 {
    display: block;
    font-size: 48px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 4.8px;
    text-align: center;
    color: #f5f5f5;
}

section.about p {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    margin: 0.8em 0em;
}

section#contact > p,
section.features > p {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
}

section.features > p br {
    display: none;
}

section.features div.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3em;
}

section.features div.wrap div.feature {
    padding: 3em 0em;
    width: 48.5%;
    background-color: #383838;
}

section.features div.wrap div.feature h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #00a8ff;
}

section.features div.wrap div.feature ul li {
    display: block;
    margin: 0.5em 0em;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #cccccc;
}

section.features div.wrap div.feature ul li:first-of-type {
    margin-top: 0.8em;
}

section.features div.wrap div.feature ul li:last-of-type {
    margin-bottom: 0em;
}

section#contact {
    padding: 6em calc((100% - 536px)/ 2);
    background-color: #212121;
}

#sign {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2em;
    position: relative;
}

#response,
#loader {
    position: absolute;
    top: 49.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 101%;
    background-color: #00000063;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#response {
    background-color: rgba(0, 0, 0, 0.8);
}

#response.show,
#loader.show {
    opacity: 1;
    visibility: visible;
}

#response h4,
#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#response h4 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #ebebeb;
    text-transform: uppercase;
    width: 100%;
}

#sign label {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

#sign label.submit {
    margin-left: auto;
    width: 50%;
    margin-bottom: 0;
    position: relative;
}

#sign label textarea,
#sign label input {
    display: block;
    width: 100%;
    padding: 0.7em 0.5em;
    border: none;
    font-size: 20px;
    resize: none;
}

#sign label input[type="submit"] {
    background-color: #00a8ff;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
}

section#contact address {
    display: block;
    margin-top: 4em;
}

section#contact address p a,
section#contact address p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 1.6px;
    text-align: center;
    color: #999999;
}

section#contact address p {
    margin-bottom: 1em;
}

section#contact address p a {
    text-decoration: none;
}